<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eventando"
        tools:targetApi="31">
        <activity
            android:name=".menu.criar_evento.criar_evento_online.VisualizarEventOnlineNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.VisualizarEventPresencialNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.VisualizarMyEventsOnlineNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.VisualizarMyEventsOnlineEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.VisualizarMyEventsPresencialNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.VisualizarMyEventsPresencialEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.ListaConvidadosActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.CriarConviteOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.CriarConvitePresencialActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.ConviteOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.ConvitePresencialActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.CriarEventActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.EventOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.EventPresencialActivity"
            android:exported="false" />
        <activity
            android:name=".menu.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".acessar.RecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".acessar.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".acessar.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>