<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eventando"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.criar_evento.criar_evento_online.VisualizarEventOnlineNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.VisualizarEventPresencialNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.VisualizarMyEventsOnlineNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.VisualizarMyEventsOnlineEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.VisualizarMyEventsPresencialNaoEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.VisualizarMyEventsPresencialEditavel"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.ListaConvidadosActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.CriarConviteOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.CriarConvitePresencialActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.ConviteOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.ConvitePresencialActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.CriarEventActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_online.EventOnlineActivity"
            android:exported="false" />
        <activity
            android:name=".menu.criar_evento.criar_evento_presencial.EventPresencialActivity"
            android:exported="false" />
        <activity
            android:name=".menu.home.HomeActivity"
            android:exported="false"/>

        <activity
            android:name=".acessar.RecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".acessar.CadastroActivity"
            android:exported="false"
            android:theme="@style/Theme.EventandoNoActionBar"/>
        <activity
            android:name=".acessar.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.EventandoNoActionBar"/>
    </application>

</manifest>